*.trr
*#
*.xtc
*.dcd
*.edr
*.cpt
*.out
*.log
*.tpr
oe_license.txt
*.ipynb_checkpoints*
__pycache__
*.txt
*.png
*.jpg
*.gif
*.lock
*.npz
*mdout.mdp
*.mp4
*HBOND_SUMS*
*HILLS*
*COLVARS*
*COLVAR_STD_TORSIONS*
*COLVAR_REWEIGHT*
*clustering_output*
*bespoke-executor*
*env-bespoke*
terphenyl_simulations.egg-info/
*bck.*
